footer {
    padding: 40px 60px;
    background-color: #10374f;
    text-align: left;
    margin-top: 50px;


    .footer-container {
        display: flex;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0 auto;
    }

    .footer-logo img {
        font-size: 24px;
        font-weight: bold;
        height: 1.6em;
        margin-left: 40px;
        margin-top: 50px;
        filter: brightness(0) invert(1);
    }

    .footer-logo .logo-text {
        font-size: 24px;
        margin-left: 26px;
        margin-top: 0;
    }

    .footer-columns {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 40px;
    }

    .footer-section {
        flex: 1;
        min-width: 150px;

        h4 {
            margin-bottom: 5px;
            font-size: 16px;
            font-weight: bold;
            color: #ffffff;
        }

        p {
            font-size: 14px;
            color: #ffffff;
            line-height: 1.6;
        }
    }


    .subscribe-box {
        display: flex;
        align-items: center;
        background: #F2F4FF;
        border-radius: 9px;
        padding: 1px 10px;
        width: 230px;

        input {
            border: none;
            background: transparent;
            padding: 5px;
            flex-grow: 1;
        }

        button {
            background: none;
            border: none;
            color: #0606f6;
            cursor: pointer;
            font-size: 18px;
        }
    }

    .social-icons {
        margin-top: 0;
        display: flex;
        align-items: center;
        gap: 10px;
        filter: saturate(0) brightness(0) invert(1);

        .social-icons a {
            margin-top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .social-icons img {
            width: 22px;
            height: 22px;
            object-fit: contain;
        }
    }

    .footer-bottom {
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
        color: #ffffff;
    }
}
